<div class="info">
    <div class="photo">
        <div class="banner">
            <img src="../../assets/perfil.jpg">
        </div>
        <div class="information">
            <h2>Nicolas Rojas Nino</h2>
            <p>CEO en imagine apps</p>
        </div>
    </div>
    <div class="data">
        <div class="container2" >
            <div class="WhoSee">
                <div class="Who">
                    <span>Quién ha visto tu perfil </span>
                    <span class="number">1325</span>
                </div>
                <div class="Who">
                    <span>Visualizaciones de tu publicación </span>
                    <span class="number">923</span>
                </div>

                <div class="textI" >
                    <p>Accede a información y</p>
                    <p>herramientas exclusivas</p>
                    <div class="textIContainer">
                        <span> 
                            <div class="goldBox" ></div>
                        </span>
                        <span class="textBlack">Volver a probar premium</span>
                    </div>
                </div>
                <div class="marcPage">
                    <!-- <img src="../../assets/icons8-marcapáginas-16.png" class="Marcapaginas" alt=""> -->
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match" width="24" height="24" focusable="false">
                        <path d="M19 5a3 3 0 00-3-3H5v20l7-6.29L19 22z"></path>
                      </svg>
                
                    <span class="textBlack">Marcapáginas</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mypages">
    <div class="container2">
        <div class="MisPaginas">
            <h2>Mis páginas (2)</h2>
        </div>
        <div class="imageContain">
            <div class="pagina">
                <img src="../../assets/imagine.jpg" alt="">
                <div class="text">
                    <p>Imagine Apps</p>
                    <p>Notificaciones de la ...</p>
                </div>
                <div class="containNumber" >
                    <span class="BlueNumber"  class="number">6</span>
                </div>
            </div>
            <div class="pagina">
                <img src="../../assets/desarrollo.jpg" class="sizeImg"alt="">
                <div class="text">
                    <p>Imagine Desarrollo</p>
                    <p>Notificaciones de la ...</p>
                </div>
                <div class="containNumber" >
                    <span class="BlueNumber" class="number">0</span>
                </div>
            </div>
    
        </div>
    </div>
</div>
<div class="recents">
    <div class="container2">
        <div>
            <p>Recientes</p>
        </div>
        <div class="groups">
            <div class="group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                    <path d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z"></path>
                    <circle cx="8" cy="4" r="2"></circle>
                    <circle cx="12.5" cy="5.5" r="1.5"></circle>
                    <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
                    <circle cx="3.5" cy="5.5" r="1.5"></circle>
                  </svg>
                <span>Mentores SUM</span>
            </div>
            <div class="group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                    <path d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z"></path>
                    <circle cx="8" cy="4" r="2"></circle>
                    <circle cx="12.5" cy="5.5" r="1.5"></circle>
                    <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
                    <circle cx="3.5" cy="5.5" r="1.5"></circle>
                  </svg>
                <span>Networking San Carlos</span>
            </div>
            <div class="group">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor" class="mercado-match" width="16" height="16" focusable="false">
                    <path d="M8.5 7h-1A1.5 1.5 0 006 8.5V14h4V8.5A1.5 1.5 0 008.5 7zM12.75 8h-.5A1.25 1.25 0 0011 9.25V14h3V9.25A1.25 1.25 0 0012.75 8z"></path>
                    <circle cx="8" cy="4" r="2"></circle>
                    <circle cx="12.5" cy="5.5" r="1.5"></circle>
                    <path d="M3.75 8h-.5A1.25 1.25 0 002 9.25V14h3V9.25A1.25 1.25 0 003.75 8z"></path>
                    <circle cx="3.5" cy="5.5" r="1.5"></circle>
                  </svg>
                <span>Latam Fintech Insights</span>
            </div>
            <div class="group">
                <img src="../../assets/hashtag.png" alt="">
                <span>negocios</span>
            </div>
            <div class="group">
                <img src="../../assets/hashtag.png" alt="">
                <span>emprendedores</span>
            </div>
        </div>
        <span class="number">Grupos</span>
    </div>
</div>