<div class="add">
    <div class="feed">
        <div class="Cfeed">
            <h2>Añadir a tu feed</h2>
            <img src="../../assets/informacion.png" alt="">
        </div>
        <div class="segui">
            <div class="info">
                <div class="photo">
                    <img src="https://media.licdn.com/dms/image/D5635AQHYNvipzLDwQA/profile-framedphoto-shrink_200_200/0/1683548790476?e=1685577600&v=beta&t=RN89zJa8y6BpGy_XdsymeyB0CBdfUYRpelAcStwKmU0"
                        alt="">
                    <div class="texts">
                        <div class="oneText">
                            <span class="name">Edna Odette González Vázquez</span>
                        </div>
                        <div class="oneText">
                            <span>Directora editorial en Energia Hoy</span>
                        </div>
                        <div class="oneText">
                            <div class="seguir">
                                <img src="../../assets/anadir.png" alt="">
                                <span>Seguir</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info">
                <div class="photo">
                    <img src="https://media.licdn.com/dms/image/C4E0BAQG55tY8GUBOBw/company-logo_200_200/0/1548103265072?e=1692835200&v=beta&t=TyOajVkBw4x4zmW_7JVe2uGWf-rHr-_AXkfIEvY3jhA "
                        alt="">
                    <div class="texts">
                        <div class="oneText">
                            <span class="name">El Espectador</span>
                        </div>
                        <div class="oneText">
                            <span>Empresa . Servicio de información</span>
                        </div>
                        <div class="oneText">
                            <div class="seguir">
                                <img src="../../assets/anadir.png" alt="">
                                <span>Seguir</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="info">
                <div class="photo">
                    <img src="https://media.licdn.com/dms/image/C4E03AQH6BGXM0e-TyQ/profile-displayphoto-shrink_200_200/0/1558485242319?e=1690416000&v=beta&t=y0UMO1LnrnuTi83gKeK5vWgSXcva0HmUo1cMnt_5xFo"
                        alt="">
                    <div class="texts">
                        <div class="oneText">
                            <span class="name">Andres Conesa
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" class="mercado-match" width="18" height="18" focusable="false">
                                    <path d="M20.5 0h-17A1.5 1.5 0 002 1.5V24l4.5-4h14a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 0zM8 17H5V8h3zM6.5 6.25A1.78 1.78 0 014.7 4.5a1.8 1.8 0 013.6 0 1.78 1.78 0 01-1.8 1.75zM19 17h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 12.19a.66.66 0 000 .14V17h-3V8h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z" fill="#0a66c2"></path>
                                  </svg>
                            </span>
                        </div>
                        <div class="oneText">
                            <span>Chief Executive Officer at Aeromexico</span>
                        </div>
                        <div class="oneText">
                            <div class="seguir">
                                <img src="../../assets/anadir.png" alt="">
                                <span>Seguir</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
        <span class="recomendaciones">Ver todas las recomendaciones
            <img src="../../assets/flecha-correcta.png" alt="">
        </span>
    </div>

</div>
<div class="vistos">
    <div class="Container1">
        <span>Acerca de</span>
        <span>Accesibilidad</span>
    </div>
    <div class="Container2">
        <span>Centro de ayuda</span>
    </div>
    <div class="Container2">
        <span class="PrivacyText">Privacidad y condiciones<img src="../../assets/caret-abajo.png" alt=""></span>
    </div>
    <div class="Container3">
        <span>Opciones de publicidad</span>
        <span>Publicidad</span>
    </div>
    <div class="Container3"> <span>Servicios empresariales</span> <img src="../../assets/caret-abajo.png" alt=""></div>
    <div class="Container1"><span>Descarga la aplicacion de Linkedin</span>
        <span>Más</span>
    </div>

    <div class="Container2">
        <span class="iconLinkedin BlueColor">Linkedin
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
                class="mercado-match BlueColor" width="24" height="24" focusable="false">
                <path
                    d="M20.5 2h-17A1.5 1.5 0 002 3.5v17A1.5 1.5 0 003.5 22h17a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 2zM8 19H5v-9h3zM6.5 8.25A1.75 1.75 0 118.3 6.5a1.78 1.78 0 01-1.8 1.75zM19 19h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 14.19a.66.66 0 000 .14V19h-3v-9h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z">
                </path>
            </svg></span><span class="Container2">Linkedin Corporation @2023</span>
    </div>


</div>