<div class="all">
    <div class="card">
        <div class="writte">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" data-supported-dps="16x16" fill="currentColor"
                class="mercado-match colorA" width="16" height="16" focusable="false">
                <path
                    d="M15 2.53a1.51 1.51 0 01-.44 1L9.15 9 6 10l1-3.12 5.44-5.44A1.5 1.5 0 0115 2.53zM12 11a1 1 0 01-1 1H5a1 1 0 01-1-1V5a1 1 0 011-1h3V2H5a3 3 0 00-3 3v6a3 3 0 003 3h6a3 3 0 003-3V8h-2z">
                </path>
            </svg>
            <div class="form-group">
                <input type="text" placeholder="Crear publicación" (input)="changeInput($event)" [(ngModel)]="textInput"
                    [disabled]="isEdit">
                <!-- [(ngModel)]="selectedPublishing.text" -->
            </div>
        </div>
        <div class="icons">
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" class="mercado-match colorB" width="24" height="24" focusable="false">
                    <path
                        d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm1 13a1 1 0 01-.29.71L16 14l-2 2-6-6-4 4V7a1 1 0 011-1h14a1 1 0 011 1zm-2-7a2 2 0 11-2-2 2 2 0 012 2z">
                    </path>
                </svg>
                <p>Foto</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" class="mercado-match colorC" width="24" height="24" focusable="false">
                    <path d="M19 4H5a3 3 0 00-3 3v10a3 3 0 003 3h14a3 3 0 003-3V7a3 3 0 00-3-3zm-9 12V8l6 4z"></path>
                </svg>
                <p>Video</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" class="mercado-match colorD" width="24" height="24" focusable="false">
                    <path
                        d="M3 3v15a3 3 0 003 3h12a3 3 0 003-3V3zm13 1.75A1.25 1.25 0 1114.75 6 1.25 1.25 0 0116 4.75zm-8 0A1.25 1.25 0 116.75 6 1.25 1.25 0 018 4.75zM19 18a1 1 0 01-1 1H6a1 1 0 01-1-1V9h14zm-5.9-3a1 1 0 00-1-1H12a3.12 3.12 0 00-1 .2l-1-.2v-3h3.9v1H11v1.15a3.7 3.7 0 011.05-.15 1.89 1.89 0 012 1.78V15a1.92 1.92 0 01-1.84 2H12a1.88 1.88 0 01-2-1.75 1 1 0 010-.25h1a.89.89 0 001 1h.1a.94.94 0 001-.88z">
                    </path>
                </svg>
                <p>Evento</p>
            </div>
            <div class="icon">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" class="mercado-match colorE" width="24" height="24" focusable="false">
                    <path d="M21 3v2H3V3zm-6 6h6V7h-6zm0 4h6v-2h-6zm0 4h6v-2h-6zM3 21h18v-2H3zM13 7H3v10h10z"></path>
                </svg>
                <p>Escribir articulo</p>
            </div>
        </div>
        <div class="publicar">
            <button *ngIf="active !==false" (click)="addOrEdit()" class="btn">
                Publicar
            </button>
        </div>

    </div>
    <div class="change">
        <div class="dropdown">
            <div class="barra">
            </div>
            <span class="ByOrder">Ordenar por: </span>
            <button class="dropdown-toggle" (click)="toggleMenu()">
                {{Populares}}
                <img src="../../assets/caret-abajo.png" alt="">
                <ul class="dropdown-menu" [ngClass]="{ 'open': isMenuOpen }">
                    <li (click)="Ascendente()"><a>Ascendente</a></li>
                    <li (click)="Descendente()"><a>Descendente</a></li>
                </ul>
            </button>

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-8 mt-4">
                <ul class="list-group">
                    <li *ngFor="let Publishing of PublishingArray" class="list"
                        [class.active]="Publishing == selectedPublishing">
                        <div class="card">
                            <div class="info">
                                <div class="photo">
                                    <img src={{Publishing.img}} alt="">
                                    <div class="texts">
                                        <div class="oneText">
                                            <span class="nameIcon">Kevin O'Leary
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                    data-supported-dps="24x24" class="mercado-match" width="18"
                                                    height="18" focusable="false">
                                                    <path
                                                        d="M20.5 0h-17A1.5 1.5 0 002 1.5V24l4.5-4h14a1.5 1.5 0 001.5-1.5v-17A1.5 1.5 0 0020.5 0zM8 17H5V8h3zM6.5 6.25A1.78 1.78 0 014.7 4.5a1.8 1.8 0 013.6 0 1.78 1.78 0 01-1.8 1.75zM19 17h-3v-4.74c0-1.42-.6-1.93-1.38-1.93A1.74 1.74 0 0013 12.19a.66.66 0 000 .14V17h-3V8h2.9v1.3a3.11 3.11 0 012.7-1.4c1.55 0 3.36.86 3.36 3.66z"
                                                        fill="#0a66c2"></path>
                                                </svg> . </span>
                                            <span>Siguiendo</span>
                                        </div>
                                        <div class="oneText">
                                            <span>Chairaman</span>
                                            <span>O'Shares Investments & Beanstox</span>
                                        </div>
                                        <div class="oneText">
                                            <span>{{Publishing.date}}</span>
                                            <span>{{Publishing.hour}}</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="delete">
                                    <svg (click)="openForEdit(Publishing)" xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
                                        class="mercado-match" width="24" height="24" focusable="false">
                                        <path
                                            d="M14 12a2 2 0 11-2-2 2 2 0 012 2zM4 10a2 2 0 102 2 2 2 0 00-2-2zm16 0a2 2 0 102 2 2 2 0 00-2-2z">
                                        </path>
                                    </svg>
                                    <button
                                        *ngIf="selectedPublishing.id !==0 && Publishing.id==selectedPublishing.id && isEdit==true"
                                        class="btn btn-danger" (click)="delete()">
                                        Delete
                                    </button>
                                </div>
                            </div>
                            <div class="blog">
                                <div class="textBlog">
                                    {{Publishing.text}}
                                    <span class="number">Ver traduccion</span>
                                </div>
                                <div class="imagen">
                                    <img src="../../assets/portfolio.png" alt="">
                                </div>
                                <div class="containerSpan">
                                    <div class="reactions">
                                        <img class="reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--0 reactions-icon__consumption--small data-test-reactions-icon-type-LIKE data-test-reactions-icon-theme-light"
                                            src="https://static.licdn.com/sc/h/8ekq8gho1ruaf8i7f86vd1ftt" alt="like"
                                            data-test-reactions-icon-type="LIKE" data-test-reactions-icon-theme="light">
                                        <img class="reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-PRAISE data-test-reactions-icon-theme-light"
                                            src="https://static.licdn.com/sc/h/b1dl5jk88euc7e9ri50xy5qo8"
                                            alt="celebrate" data-test-reactions-icon-type="PRAISE"
                                            data-test-reactions-icon-theme="light">
                                        <img class="reactions-icon social-detail-social-counts__count-icon social-detail-social-counts__count-icon--1 reactions-icon__consumption--small reactions-icon--stacked data-test-reactions-icon-type-EMPATHY data-test-reactions-icon-theme-light"
                                            src="https://static.licdn.com/sc/h/cpho5fghnpme8epox8rdcds22" alt="love"
                                            data-test-reactions-icon-type="EMPATHY"
                                            data-test-reactions-icon-theme="light">
                                    </div>
                                    <div class="sharing gray">
                                        <span>183 comentarios . </span>
                                        <span>16 veces compartido</span>
                                    </div>
                                </div>
                                <div class="reactionsI">
                                    <div class="containerR">
                                        <div class="action">
                                            <img src="../../assets/thumb-up.png" alt="">
                                            <span aria-hidden="true">
                                                Recomendar
                                            </span>
                                        </div>

                                        <div class="action">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor" class="mercado-match gray" width="24" height="24" focusable="false">
                                                <path d="M7 9h10v1H7zm0 4h7v-1H7zm16-2a6.78 6.78 0 01-2.84 5.61L12 22v-4H8A7 7 0 018 4h8a7 7 0 017 7zm-2 0a5 5 0 00-5-5H8a5 5 0 000 10h6v2.28L19 15a4.79 4.79 0 002-4z"></path>
                                              </svg>
                                            <span>
                                                Comentar
                                            </span>
                                        </div>

                                        <div class="action">
                                            <img src="../../assets/retweet-1.png" alt="">
                                            <span>
                                                Compartir
                                            </span>
                                        </div>
                                        <div class="action">
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                                data-supported-dps="24x24" fill="currentColor" class="mercado-match gray"
                                                width="24" height="24" focusable="false">
                                                <path d="M21 3L0 10l7.66 4.26L16 8l-6.26 8.34L14 24l7-21z"></path>
                                            </svg>
                                            <span>
                                                Enviar
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>

</div>